.app-content {
  width: 1200px;
  margin: 75px auto;
}

.image__card-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.image__card img {
  max-width: 100%;
  max-height: auto;
  position: relative;
  vertical-align: middle;
  left: 50%;
  transform: translate(-50%);
  height: 290px;
  width: 290px;
  object-fit: cover;
}