.search__default-container {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 24px;
}

.search__default-container li {
  text-decoration: none;
  color: #4aadc9;
  background-color: #4f586b;
  padding: 5px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.search__default-container li:hover {
  cursor: pointer;
  color: #4aadc9;
  background-color: #363d4b;
}